<div class="container main">
    <div class="row">
      <div class="span9 checkout_area">
        <h2 class="title-wrap"> Log In </h2>
        <div class="line"></div>
        <div id="log_in_info">
          <div class="row">
              <div class="checkout_info log_in_content span9">
                  <div class="span4 returning_customer">
                    <div class="customer_select">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <p>
                            <%= f.label :email %>
                            <%= f.email_field :email, autofocus: true, type: 'text', tabindex: '2', size: '42', class: 'width', name: 'email' %>
                          </p>

                          <p>
                            <%= f.label :password %>
                            <%= f.password_field :password, autocomplete: "off", tabindex: '2', size: '42', class: 'width', name: 'password' %>
                          </p>

                          <%= f.submit "Log in", class: 'register' %>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

    <%# render "devise/shared/links" %>
